.duvidas{
	.categorias{
		background-color: #edf0f5;
	    border-radius: 5px;
	    h1{
			margin: 0 auto;
		    display: table;
		    font-size: 18px;
		    letter-spacing: 0;
		    font-weight: bold;
		    border-bottom: 2px solid #fff;
		    width: 113%;
		    text-align: center;
		    margin-left: -6%;
		    height: 65px;
    		padding-top: 7%;
		}

		ul{
		list-style: none;
        width: 111%;
		margin-left: -11%;
			li{
				padding: 5%;
				width: 100%;
				&:hover{
					background-color:#e4e6eb;
				}
				a{
					color: #000;
					text-align: center;
					margin: 0 auto;
	    			display: table;
					&:hover {
			            text-decoration: none;
			        }
				}
			}
		}
	}

	.contato{
		background: #edf0f5 url("../images/duvidas/envelope.png"); 
		background-repeat: no-repeat;
		background-position: -10px 71px;
	    border-radius: 5px;
	    margin: 10% 0 10% 0;
	    height: 100%;
	    h1{
			margin: 0 auto;
		    display: table;
		    font-size: 18px;
		    letter-spacing: 0;
		    font-weight: bold;
		    border-bottom: 2px solid #fff;
		    width: 113%;
		    text-align: center;
		    margin-left: -6%;
		    height: 65px;
    		padding-top: 7%;
		}

		p{
			margin-top: 15px;
			text-align: center;
			color: #363636;
			margin-bottom: 3%;

		}
		.bntVerMais{
			margin: 0 auto;
            margin-top: 4%;
            border: 2px solid #f9a521;
            border-radius: 20px 20px 20px 20px;
            padding: 1.5%;
            width: 40%;
            text-align: center;
            text-decoration: none;
            background-color: #f9a521;
            margin-bottom: 5%;
            a{
                color: #fff;
                text-decoration: none;
                display: block;
                &:hover{
                    color: #fff;
                }
            }
            &:hover{
                background-color: #f9a521;
                color: #fff;
            }

        }
	}
	
	.duvidasBox{
		h1{
			color: #f9a521;
			letter-spacing:0;
			font-size: 57px;
		}
		#custom-search-input{
		    padding: 3px;
		    border: solid 1px #f9a521;
		    border-radius: 6px;
		    background-color: #fff;
		    margin-bottom: 5%;
		}

		#custom-search-input input{
		    border: 0;
		    box-shadow: none;
		}

		#custom-search-input button{
		    margin: 2px 15px 0 0;
		    background: none;
		    box-shadow: none;
		    border: 0;
		    color: #000;
		    padding: 0 8px 0 10px;
		    border-left: none;
		}

		#custom-search-input button:hover{
		    border: 0;
		    box-shadow: none;
		    border-left: none;
		}

		#custom-search-input .glyphicon-search{
		    font-size: 23px;
		    color: #f9a521;
		}
		h2{
			color: #000;
			font-weight: bold;
			font-size: 18px;
		}
		.panel-title {
		    margin-top: 0;
		    margin-bottom: 0;
		    font-size: 14px;
		    color: #000;
		}

		.panel-default > .panel-heading {
		    color: #333333;
		    background-color: #edf0f5;
		    border: none;
		}
		.panel-default > .panel-heading + .panel-collapse > .panel-body {
		    border-top-color: #ddd;
		    background-color: #e4e6eb;
		}
		.pagination {
		    margin: 20px auto;
		    display: table;
		}
		.panel-heading .accordion-toggle.collapsed h4:after {
		    content: "+";
		    background-color: #f9a521;
		    padding: 0.5%;
		    border-radius: 5px;
		}
		.panel-heading .accordion-toggle h4:after {
		    font-family: 'Glyphicons Halflings';
		    content: "-";
		    float: right;
		    color: black;
		    overflow: no-display;
		    background-color: #f9a521;
		    padding: 0.5%;
		    border-radius: 5px;
		}
		.bntVerMais{
            margin-top: 4%;
            border: 2px solid #f9a521;
            border-radius: 20px 20px 20px 20px;
            padding: 0.8%;
    		width: 20%;
            text-align: center;
            text-decoration: none;
            background-color: #f9a521;
            margin-bottom: 5%;
            a{
                color: #fff;
                text-decoration: none;
                display: block;
                &:hover{
                    color: #fff;
                }
            }
            &:hover{
                background-color: #f9a521;
                color: #fff;
            }

        }
	}
}

