.institucional{
	.imgAbajur{
		width: 100%;
		float: left;
	}
	h1{
		float: left;
	}
	p{
		float: left;
		color: #363636;
		margin-bottom: 3%;
		font-size: 20px;
		line-height: 22px;
	}
	img{
		margin: 25px auto;
		display: table;
	}

}

.bgColor{
	background-color: #f9a521;
	h1{
		margin-top: 26%;
	}
	p{
		color: #fff;
	    font-size: 17px;
	    margin-top: 5%;
	}
}

.box{
	background-color: #edf0f5;
    padding: 5%;
    margin-top: 1%;
    border: 15px solid #fff;
    border-radius: 25px 25px 25px 25px;
	h1{
		margin-top: 2%;
		font-size: 25px;
		letter-spacing: 0;
	}
	p{
		color: #000;
	    font-size: 18px;
	    margin-top: 5%;
	}
	h2{
		font-size: 25px;
	}
}
.apoio{
	h1{
		letter-spacing: 0;
		font-size: 20px;
		text-align: center;
		margin-bottom: 3%;
	}

}

.bgParceiros{
	background-color: #edf0f5;
	margin-top: 3%;
}
.parceiros{
	h1{
		margin: 0 auto;
		display: table;
		margin-top: 6%;
	}
	img{
		margin: 25px auto;
		display: table;
	}

}


hr {
    /* margin-top: 20px; */
    margin-bottom: -25px;
    /* border: 0; */
    border-top: 2px solid #edf0f5;
}