<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule mod_speling.c>
	CheckSpelling On
	CheckCaseOnly On
</IfModule>

php_value upload_max_size 8500M
php_value post_max_size 8500M
php_value max_execution_time 2000
php_value upload_max_filesize 1500M
